<ngx-auth-firebaseui
    [providers]="['google', 'facebook']"
    [providersTheme]="'raised'"
    (onSuccess)="onUserLogged($event)"
    [signInTabText]="'firebaseui.sign-in.tab' | translate"
    [signInCardTitleText]="'firebaseui.sign-in.title' | translate"
    [loginButtonText]="'firebaseui.sign-in.button' | translate"
    [forgotPasswordButtonText]="'firebaseui.sign-in.forgot-password' | translate"
    [nameText]="'firebaseui.input.name.field' | translate"
    [nameErrorRequiredText]="'firebaseui.input.name.error.required' | translate"
    [nameErrorMinLengthText]="'firebaseui.input.name.error.min-length' | translate"
    [nameErrorMaxLengthText]="'firebaseui.input.name.error.max-length' | translate"
    [emailText]="'firebaseui.input.email.field' | translate"
    [emailErrorRequiredText]="'firebaseui.input.email.error.required' | translate"
    [emailErrorPatternText]="'firebaseui.input.email.error.pattern' | translate"
    [passwordText]="'firebaseui.input.password.field' | translate"
    [passwordErrorRequiredText]="'firebaseui.input.password.error.required' | translate"
    [passwordErrorMinLengthText]="'firebaseui.input.password.error.min-length' | translate"
    [passwordErrorMaxLengthText]="'firebaseui.input.password.error.max-length' | translate"
    [registerTabText]="'firebaseui.sign-up.tab' | translate"
    [registerCardTitleText]="'firebaseui.sign-up.title' | translate"
    [registerButtonText]="'firebaseui.sign-up.button' | translate"
    [guestButtonText]="'firebaseui.sign-up.guest' | translate"
    [resetPasswordTabText]="'firebaseui.reset-password.tab' | translate"
    [resetPasswordInputText]="'firebaseui.reset-password.input' | translate"
    [resetPasswordErrorRequiredText]="'firebaseui.reset-password.error.required' | translate"
    [resetPasswordErrorPatternText]="'firebaseui.reset-password.error.pattern' | translate"
    [resetPasswordActionButtonText]="'firebaseui.reset-password.button' | translate"
    [resetPasswordInstructionsText]="'firebaseui.reset-password.instructions' | translate"
    [emailConfirmationTitle]="'firebaseui.email-confirmation.title' | translate"
    [emailConfirmationText]="'firebaseui.email-confirmation.text' | translate"
></ngx-auth-firebaseui>
