<form [formGroup]="form" class="p-3">

    <mat-tab-group mat-align-tabs="center" [selectedIndex]="selectedTab.value">
        <mat-tab label="Login">
            <div class="d-flex justify-content-around flex-wrap">
                <mat-form-field class="w-100">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email" />
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" type="password" formControlName="password" />
                </mat-form-field>

                <a class="w-502" href="">Forgot your password?</a>
                <a class="w-502" (click)="selectRegisterTab()" [routerLink]="">Don't have an account?</a>

                <div class="w-100 d-flex justify-content-around pt-3">
                    <button class="w-50" (click)="login()" mat-raised-button color="primary" [disabled]="form.invalid">Login</button>
                </div>

                <div class="w-100 d-flex justify-content-around pt-2">
                    <button class="w-50" (click)="logAnonymous()" mat-raised-button color="accent">Continue without login</button>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Register">
            <mat-form-field class="w-100">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email" />
            </mat-form-field>

            <mat-form-field class="w-100">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" type="password" formControlName="password" />
            </mat-form-field>

            <a class="w-502" (click)="selectLoginTab()" [routerLink]="">Already have an account?</a>

            <div class="w-100 d-flex justify-content-around pt-3">
                <button class="w-50" (click)="register()" mat-raised-button color="primary" [disabled]="form.invalid">Create account</button>
            </div>
        </mat-tab>
    </mat-tab-group>
</form>
