<div class="p-3">
    <mat-accordion [multi]="true">
        <mat-expansion-panel
            *ngFor="let banner of banners$ | async"
            [expanded]="banner.type === BANNER_TYPES.CHARACTER_TEMPORAL"
        >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <ng-container *ngIf="banner.type === BANNER_TYPES.CHARACTER_TEMPORAL">{{ 'banner.character.temporal' | translate }}</ng-container>
                    <ng-container *ngIf="banner.type === BANNER_TYPES.WEAPON_TEMPORAL">{{ 'banner.weapon.temporal' | translate }}</ng-container>
                    <ng-container *ngIf="banner.type === BANNER_TYPES.CHARACTER_PERMANENT">{{ 'banner.character.permanent' | translate }}</ng-container>
                </mat-panel-title>

                <mat-panel-description>
                    {{ banner.title | translate }}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="">
                <!-- Edit wishes -->
                <div class="mb-2">
                    <span>{{ 'banner.wishes.total' | translate:{ total: userBanners[banner.type].totalWishes } }}</span>
                    <button mat-icon-button color="warn" aria-label="{{ 'common.actions.edit' | translate }}" (click)="openWishEditDialog(banner)">
                        <mat-icon>edit</mat-icon>
                    </button>

                    <button mat-button color="primary" aria-label="{{ 'banner.wishes.ten-pull' | translate }}" (click)="makeTenPulls(banner)">{{ 'banner.wishes.ten-pull' | translate }}</button>
                </div>

                <!-- Counting buttons -->
                <div class="d-flex justify-content-around mb-3">
                    <div class="">
                        <wc-card-button (click)="addWish(userBanners[banner.type], RARITY.COMMON)" [disabled]="userBanners[banner.type].wishesToRare === 1 || userBanners[banner.type].wishesToEpic === 1">
                            {{ 'game.invocable.rarity.common' | translate }}
                        </wc-card-button>
                    </div>
                    <div class="">
                        <wc-card-button (click)="addWish(userBanners[banner.type], RARITY.RARE)" [disabled]="userBanners[banner.type].wishesToEpic === 1">
                            {{ 'game.invocable.rarity.rare' | translate }}
                        </wc-card-button>
                    </div>
                    <div class="">
                        <wc-card-button (click)="addWish(userBanners[banner.type], RARITY.EPIC)">
                            {{ 'game.invocable.rarity.epic' | translate }}
                        </wc-card-button>
                    </div>
                </div>

                <!-- Counting details -->
                <wc-banner-counter [banner]="userBanners[banner.type]"></wc-banner-counter>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
