<div class="p-3">
    <mat-accordion [multi]="true">
        <mat-expansion-panel [expanded]="banner.type === BANNER_TYPES.CHARACTER_TEMPORAL" *ngFor="let banner of banners">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ banner.title | translate }}
                </mat-panel-title>

                <mat-panel-description>
                    {{ banner.description | translate }}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="">
                <!-- Edit wishes -->
                <div class="mb-2">
                    <span>{{ 'banner.wishes.total' | translate:{ total: banner.totalWishes } }}</span>
                    <button mat-icon-button color="warn" aria-label="{{ 'common.actions.edit' | translate }}" (click)="openWishEditDialog(banner)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>

                <!-- Counting buttons -->
                <div class="d-flex justify-content-around mb-3">
                    <div class="">
                        <wc-card-button (click)="addWish(banner, RARITY.COMMON)" [disabled]="banner.wishesToRare === 1 || banner.wishesToEpic === 1">
                            {{ 'game.invocable.rarity.common' | translate }}
                        </wc-card-button>
                    </div>
                    <div class="">
                        <wc-card-button (click)="addWish(banner, RARITY.RARE)" [disabled]="banner.wishesToEpic === 1">
                            {{ 'game.invocable.rarity.rare' | translate }}
                        </wc-card-button>
                    </div>
                    <div class="">
                        <wc-card-button (click)="addWish(banner, RARITY.EPIC)">
                            {{ 'game.invocable.rarity.epic' | translate }}
                        </wc-card-button>
                    </div>
                </div>

                <!-- Counting details -->
                <wc-banner-counter [banner]="banner"></wc-banner-counter>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
