<button (click)="addWish(3)" [disabled]="wishesToRare === 1 || wishesToEpic === 1">3*</button>
<button (click)="addWish(4)" [disabled]="wishesToEpic === 1">4*</button>
<button (click)="addWish(5)">5*</button>

<p *ngIf="wishesToRare > 1">
  4* como mucho en {{ wishesToRare }} deseos
</p>
<p *ngIf="wishesToRare === 1">
  el siguiente deseo debería ser de 4*
</p>


<p *ngIf="wishesToEpic > 1">
  5* como mucho en {{ wishesToEpic }} deseos
</p>
<p *ngIf="wishesToEpic === 1">
  el siguiente deseo debería ser de 5*
</p>
