<!-- <router-outlet></router-outlet>

<ngx-bottom-nav [items]="menuItems"></ngx-bottom-nav> -->

<mat-toolbar color="primary">
    <span>Genshin Companion</span>
    <span fxFlex></span>
    <ngx-auth-firebaseui-avatar
        [canLogout]="true"
        [canViewAccount]="true"
        [textProfile]="'Cuenta'"
        [textSignOut]="'Salir'"
        (onSignOut)="reload()"
    ></ngx-auth-firebaseui-avatar>
</mat-toolbar>

<div class="content">
    <router-outlet></router-outlet>
</div>
<!-- [items]="menuItems" -->
<wc-bottom-nav color="primary" class="mat-elevation-z8" >
    <!-- <button wc-bottom-nav label="Home">
        <mat-icon wcBottomNavIcon>edit</mat-icon>
    </button> -->
</wc-bottom-nav>
