.content {
    overflow: auto;
    height: calc(100vh - /*header*/56px - /*bottom*/56px - /*scroll*/8px);
}

ngx-bottom-nav {
    position: fixed;
    bottom: 0;
}
.ngx-bottom-nav-button {
    height: 100% !important;
}
